.trello_list_header {
  position: relative;
  padding: 0.6rem 0.8rem;
  cursor: pointer !important;

  .trello_list_more {
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    .trello_popover_wrapper {
      position: relative;
      .trello_list_more_icon {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 0.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg {
          font-size: 1.6rem;
          color: #6b778c;
        }
        &:hover {
          background-color: rgba(9, 30, 66, 0.08);
          svg {
            color: #42526e;
          }
        }
      }
    }
  }
}
