.board_inner_area {
  .board_section {
    padding: 0 0 2rem;

    .board_title {
      display: flex;
      align-items: center;
      margin-bottom: 1.1rem;

      svg {
        width: 2.4rem;
        height: 2.4rem;
        color: var(--dark-blue);
      }

      span {
        text-indent: 1rem;
        font-weight: 700;
        font-size: 1.6rem;
        color: var(--dark-blue);
      }
    }
  }
}
