.board_wrap {
  padding: 0 1.6rem;

  .board_inner_area {
    .board_section {
      padding: 0 0 2rem;

      .board_title {
        display: flex;
        align-items: center;
        margin-bottom: 1.1rem;

        svg {
          width: 2.4rem;
          height: 2.4rem;
          color: #172b4d;
        }

        span {
          text-indent: 1rem;
          font-weight: 700;
          font-size: 1.6rem;
          color: #172b4d;
        }
      }

      .board_item_section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14.9rem, 0.25fr));
        grid-gap: 1.6rem;
      }
    }
  }
}

@media screen and (min-width: 78.3rem) and (max-width: 94.7rem) {
  .board_item_section {
    grid-template-columns: repeat(auto-fit, minmax(14.9rem, 0.33fr)) !important;
  }
}

@media screen and (min-width: 61.8rem) and (max-width: 78.2rem) {
  .board_item_section {
    grid-template-columns: repeat(auto-fit, minmax(14.9rem, 0.5fr)) !important;
  }
}

@media screen and (max-width: 61.7rem) {
  .board_item_section {
    grid-template-columns: repeat(auto-fit, minmax(14.9rem, 1fr)) !important;
  }
}

