.board_wrap {
  margin-top: 40px;
  width: 860px;

  .board_inner_area {
    padding-left: 64px;

    .board_section {
      padding: 0 0 20px;

      .board_title {
        display: flex;
        align-items: center;
        margin-bottom: 11px;

        svg {
          width: 24px;
          height: 24px;
        }

        span {
          text-indent: 10px;
          font-weight: 700;
        }
      }
    }
  }
}
