:root {
  --dark-blue: #172b4d;
  --gray-blue: #42526e;
  --light-blue: #5b729a;
  --pure-white: #fff;
  --box-shadow: rgba(9, 30, 66, 0.25);
}

.bg-green {
  background-color: #4bbf6b;
}
.bg-yellow {
  background-color: #d29034;
}
.bg-blue {
  background-color: #0079bf;
}
.bg-brown {
  background-color: #b04632;
}
.bg_gray {
  background-color: rgba(9, 30, 66, 0.08);
}

@function background($image) {
  @return center / cover no-repeat $image;
}

.bg_forest {
  background: background(url('/images/backgrounds/bg_forest.jpeg'));
}
.bg_sandcave {
  background: background(url('/images/backgrounds/bg_sandcave.jpeg'));
}
.bg_bird {
  background: background(url('/images/backgrounds/bg_bird.jpeg'));
}
.bg_mountain {
  background: background(url('/images/backgrounds/bg_mountain.jpeg'));
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body,
input {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

form {
  display: block;
  line-height: 0;
}

input {
  border: none;
  outline: none;
  border-radius: 0.3rem;
}

textarea {
  border: none;
  outline: none;
  border-radius: 0.3rem;
  color: var(--dark-blue);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
    Helvetica Neue, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
