$green: #5aac44;
$green_hover: #61bd4f;
$green_active: #49852e;
$blue: #0079bf;
$blue_hover: #0a95e6;
$blue_active: #096ba4;
$red: #cd3232;
$red_hover: #e64747;
$red_active: #a82727;
$disabled: #a5adba;

$gray: #d7d7d7;
$gray_hover: #dedede;
$gray_active: #c1c1c1;

@mixin submit_button($width, $height, $base, $hover, $active) {
  button {
    width: $width;
    height: $height;
    position: relative;
    background-color: $base;
    color: var(--pure-white);
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    outline: none;
    padding: 0 1.4rem;

    &:hover {
      background-color: $hover;
    }

    &:disabled {
      color: $disabled !important;
      background-color: #f4f5f7 !important;
      cursor: initial;
    }

    &:active {
      background-color: $active;
    }
  }
}

.green_submit {
  @include submit_button(100%, 3.2rem, $green, $green_hover, $green_active);
}

.red_submit {
  @include submit_button(100%, 3.2rem, $red, $red_hover, $red_active);
}

.login_submit {
  @include submit_button(100%, 3.6rem, $green, $green_hover, $green_active);
}

.signup_submit {
  @include submit_button(100%, 3.6rem, $blue, $blue_hover, $blue_active);
}

.cancel {
  @include submit_button(100%, 3.2rem, $gray, $gray_hover, $gray_active);
}

button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  .proccessing__loding__type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .on__proccessing {
      width: 70%;
      height: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      > div {
        background-color: var(--pure-white);
        height: 100%;
        width: 0.2rem;
        display: inline-block;
        margin: 0 0.1rem;

        -webkit-animation: stretch 1.2s infinite ease-in-out;
        animation: stretch 1.2s infinite ease-in-out;
      }
      .rect__aling_2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
      }
      .rect__aling_3 {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
      }
      .rect__aling_4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
      }
      .rect__aling_5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
      }

      @-webkit-keyframes stretch {
        0%,
        40%,
        100% {
          -webkit-transform: scaleY(0.4);
        }
        20% {
          -webkit-transform: scaleY(1);
        }
      }

      @keyframes stretch {
        0%,
        40%,
        100% {
          transform: scaleY(0.4);
          -webkit-transform: scaleY(0.4);
        }
        20% {
          transform: scaleY(1);
          -webkit-transform: scaleY(1);
        }
      }
    }
  }
}
