.create_board {
  position: relative;
  cursor: pointer;
  border-radius: 0.3rem;
  overflow: hidden;

  .create_board_inner {
    display: flex;
    height: 9.6rem;
    padding: 0.8rem;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;

    .create_item_title {
      font-size: 1.4rem;
      color: #506486;
    }
  }

  .create_hover_action {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s;
    background-color: rgba(159, 178, 194, 0.1);
  }

  &:hover,
  & > a:focus {
    .create_hover_action {
      opacity: 1;
    }
    .board_hover_action {
      opacity: 1;

      svg {
        bottom: 0.6rem;
        right: 0.6rem;
      }
    }
  }
}
