.trello_popover {
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: 10;

  .trello_popover_content {
    background-color: var(--pure-white);
    border-radius: 0.3rem;
    box-shadow: 0 0.8rem 1.6rem -0.4rem rgba(9, 30, 66, 0.25), 0 0 0 0.1rem rgba(9, 30, 66, 0.08);

    .trello_popover_inner {
      width: 30rem;

      .trello_popover_title {
        margin: 0 1.2rem 0.8rem;
        color: #5e6c84;
        font-size: 1.4rem;
        line-height: 4rem;
        text-align: center;
        border-bottom: 0.1rem solid rgba(9, 30, 66, 0.13);
      }

      ul {
        padding-bottom: 1.2rem;

        li {
          &.line_break::after {
            background-color: rgba(9, 30, 66, 0.13);
            content: ' ';
            display: block;
            height: 0.1rem;
            margin: 0.8rem auto;
            width: calc(100% - 2rem);
          }

          .actions_title {
            position: relative;
            overflow: hidden;
            color: var(--dark-blue);
            font-size: 1.4rem;
            line-height: 2rem;
            padding: 0.6rem 1.2rem;
            cursor: pointer;
          }

          > .actions_title:hover {
            background-color: rgba(9, 30, 66, 0.08);
          }

          .delete_form_field {
            height: 3.2rem;
            margin-top: 0.8rem;
            padding: 0 1.2rem;
            display: flex;

            input[type='text'].delete_input {
              height: 100%;
              padding: 0.8rem 1.2rem;
              line-height: 2rem;
              margin-right: .6rem;
              color: var(--dark-blue);
              flex-grow: 1;
              box-shadow: inset 0 0 0 0.2rem #0079bf;
              background-color: var(--pure-white);
            }
          }
        }
      }
    }
  }
}
