.main_screen {
  padding-top: 40px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  .side_bar_wrap {
    ul {
      margin-top: 40px;
      width: 240px;
    }
  }
}
