.login_page {
  .logo_wrap {
    text-align: center;

    img {
      width: 14rem;
      height: 4.3rem;
      margin: 4rem 0;
    }
  }

  .form_wrap {
    width: 41rem;
    height: 42rem;
    padding: 2.5rem 4rem;
    margin: 0 auto;
    background-color: var(--pure-white);
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 1rem;

    h1 {
      text-align: center;
      color: #5e6c84;
      font-size: 1.6rem;
      letter-spacing: -0.01rem;
      line-height: 2.8rem;
      margin-top: 1rem;
      margin-bottom: 2.5rem;
    }

    input {
      width: 100%;
      height: 4rem;
      padding: 0.7rem;
      border: 0.2rem solid #dfe1e6;
      margin: 0 0 1.6rem;
      transition: border 0.3s;
      background-color: #fafbfc;

      &:focus {
        border: 0.2rem solid #4c9aff;
      }
    }

    .login_button {
      width: 100%;
      height: 3.6rem;
      text-align: center;
      color: var(--pure-white);
      background-color: #5aac44;
      transition: background-color 0.1s;

      &:hover {
        background-color: #7cc868;
      }
    }

    .auth_utils {
      margin-top: 1.8rem;
      display: flex;
      justify-content: center;
      .find_pw,
      .sign_up {
        font-size: 1.4rem;
        font-weight: 100;
        color: #0052cc;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      i {
        padding: 0 0.6rem;
        font-weight: 700;
        color: #555;
        line-height: 2rem;
      }
    }
  }
}
