.trello-list-header {
  position: relative;
  display: flex;
  outline: none;
  padding: 0.6rem 0.8rem;
  cursor: pointer !important;

  .textarea-wrapper {
    width: 100%;
    line-height: 0;

    .preventer {
      width: calc(100% - 40px);
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }

    textarea.textarea-title {
      position: relative;
      width: 100%;
      height: 3.2rem;
      padding: 0.4rem 0.8rem;
      font-weight: 600;
      background-color: transparent;

      &:focus {
        box-shadow: inset 0 0 0 0.2rem #0079bf;
        background-color: var(--pure-white);
        cursor: initial;
        z-index: 2;
      }
    }
  }

  .trello-list-more {
    .more-icon {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 0.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        font-size: 1.6rem;
        color: #6b778c;
      }
      &:hover {
        background-color: rgba(9, 30, 66, 0.08);
        svg {
          color: #42526e;
        }
      }
    }
  }
}
