.trello-list-header {
  position: relative;
  display: flex;
  outline: none;
  padding: 0.6rem 0.8rem;
  cursor: pointer !important;

  .textarea-wrapper {
    width: 100%;
    line-height: 0;
    .preventer {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .trello-list-more {
    .more-icon {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 0.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        font-size: 1.6rem;
        color: #6b778c;
      }
      &:hover {
        background-color: rgba(9, 30, 66, 0.08);
        svg {
          color: #42526e;
        }
      }
    }
  }
}
