.trello_list_content {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  max-height: 100%;
  white-space: normal;
  background-color: #ebecf0;

  .trello_list_header {
    position: relative;
    padding: 6px 8px;
    textarea {
      width: 212px;
      height: 20px;
      line-height: 20px;
      min-height: 12px;
      max-height: 256px;
      display: block;
      padding: 4px 8px;
      color: #172b4d;
      font-weight: 600;
      resize: none;
      overflow: hidden;
      overflow-wrap: break-word;
      background: transparent;
      cursor: pointer;

      &:focus {
        box-shadow: inset 0 0 0 2px #0079bf;
        background-color: #fff;
      }
    }

    .trello_list_more {
      position: absolute;
      right: 4px;
      top: 4px;
      .trello_popover_wrapper {
        position: relative;
        .trello_list_more_icon {
          width: 32px;
          height: 32px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          svg {
            color: #6b778c;
          }
          &:hover {
            background-color: rgba(9, 30, 66, 0.08);
            svg {
              color: #42526e;
            }
          }
        }
      }
    }
  }

  .trello_list_composer {
    position: relative;
    padding: 6px 8px;
    margin-bottom: 9px;

    .trello_list_add_card {
      display: flex;
      font-size: 14px;
      color: #5e6c84;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
