.trello-item-wrapper {
  height: 100%;
  user-select: none;

  .trello-item {
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    max-height: 100%;
    white-space: normal;
    background-color: #ebecf0;

    ul {
      max-height: calc(100% - 73px);
      padding: 0.1rem 0.8rem;
      overflow: auto;
    }

    .card-form-button {
      height: 30px;
      margin: 0 0.8rem 0.9rem;
      cursor: pointer;
      &:hover {
        background-color: rgba(9, 30, 66, 0.08);
        color: var(--dark-blue);

        svg {
          color: var(--gray-blue);
        }
      }
      padding: 4px 8px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      color: #5e6c84;
      svg {
        width: 2rem;
        height: 2rem;
        padding-top: 0.2rem;
        font-size: 1.6rem;
      }
    }
  }
}
