@import './BtnLoading.scss';
// Button ---------------------------------------------------
$green: #5aac44;
$green_hover: #61bd4f;
$green_active: #49852e;
$blue: #0079bf;
$blue_hover: #0a95e6;
$blue_active: #096ba4;
$red: #cd3232;
$red_hover: #e64747;
$red_active: #a82727;
$disabled: #a5adba;

@mixin submit_button($width, $height, $base, $hover, $active) {
  @include btn_loading;
  width: $width;
  height: $height;
  padding: 0 1.4rem;
  position: relative;
  background-color: $base;
  color: var(--pure-white);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $hover;
  }

  &:disabled {
    color: $disabled !important;
    background-color: #f4f5f7 !important;
    cursor: initial;
  }

  &:active {
    background-color: $active;
  }

  & > .hide {
    opacity: 0;
  }
}

button[type='submit'].green_submit {
  @include submit_button(auto, 3.2rem, $green, $green_hover, $green_active);
}

button[type='submit'].red_submit {
  @include submit_button(auto, 3.2rem, $red, $red_hover, $red_active);
}

button[type='submit'].login_submit {
  @include submit_button(100%, 3.6rem, $green, $green_hover, $green_active);
}

button[type='submit'].signup_submit {
  @include submit_button(100%, 3.6rem, $blue, $blue_hover, $blue_active);
}

// Textarea ---------------------------------------------------
@mixin textarea {
  color: var(--dark-blue);
  font-size: 1.4rem;
  line-height: 2rem;
  resize: none;
  overflow-wrap: break-word;
  overflow: hidden;
}

textarea[type='text'].trello_title {
  @include textarea;
  width: 22.8rem;
  height: 2.8rem;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
  background: transparent;
  cursor: pointer;

  &:focus {
    box-shadow: inset 0 0 0 0.2rem #0079bf;
    background-color: var(--pure-white);
    cursor: initial;
  }
}

textarea[type='text'].create_card_title {
  @include textarea;
  width: 100%;
  height: 5.7rem;
  min-height: 1.2rem;
  max-height: 25.6rem;
}

// Popover ---------------------------------------------------
.popover {
  position: absolute;
  z-index: 10;
}

// Modal ---------------------------------------------------
.custom-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
  left: 0;
  top: 0;
}

.back_drop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
