@mixin list-wrapper {
  min-width: 27.2rem;
  margin: 0 0.4rem;
  box-sizing: border-box;
  white-space: nowrap;
}

.add_list_wrapper {
  @include list-wrapper;
  min-height: 3.6rem;
  padding: 0.4rem;
  background-color: hsla(0, 0%, 100%, 0.24);
  cursor: pointer;
  border-radius: 0.3rem;
  transition: background 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.32);
  }

  &.off {
    height: 4rem;
  }

  &.on {
    height: 8rem;
    background-color: #ebecf0;
    .place_holder {
      display: none;
    }
  }
  > form {
    .place_holder {
      display: flex;
      align-items: center;
      color: var(--pure-white);
      padding: 0.6rem 0.8rem;
      transition: color 85ms ease-in;

      .add_icon {
        width: 2rem;
        height: 2rem;
        margin-right: 0.2rem;
      }

      > span {
        font-size: 1.4rem;
      }
    }

    > input[type='text'].list_name_input {
      width: 100%;
      line-height: 2rem;
      display: block;
      padding: 0.8rem 1.2rem;
      color: var(--dark-blue);
      -webkit-appearance: none;
      background: var(--pure-white);
      box-shadow: inset 0 0 0 0.2rem #0079bf;
      transition: margin 85ms ease-in, background 85ms ease-in;
    }

    .list_add_control {
      display: flex;
      align-items: center;
      height: 3.2rem;
      margin-top: 0.4rem;
      transition: margin 85ms ease-in, height 85ms ease-in;
      overflow: hidden;

      svg {
        margin-left: 0.6rem;
        color: #42526e;
        width: 2.4rem;
        height: 2.4rem;
        transition: color 0.2s;

        &:hover {
          color: #333;
        }
      }
    }
  }
}
