.trello-list-wrapper {
  flex-shrink: 0;
  .trello-list {
    min-width: 27.2rem;
    margin: 0 0.4rem;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

    &.over {
      background-color: lightgrey;
    }
  }
}
