.trello_list_wrapper {
  min-width: 272px;
  margin: 0 4px;
  height: calc(100% - 8px);
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
