.board_inner_area {
  .board_section {
    padding: 0 0 2rem;

    .board_title {
      display: flex;
      align-items: center;
      margin-bottom: 1.1rem;

      svg {
        width: 2.4rem;
        height: 2.4rem;
        color: var(--dark-blue);
      }

      span {
        text-indent: 1rem;
        font-weight: 700;
        font-size: 1.6rem;
        color: var(--dark-blue);
      }
    }

    .board_item_section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(14.9rem, 0.25fr));
      grid-gap: 1.6rem;
    }
  }
}

@mixin media_grid($max) {
  .board_item_section {
    grid-template-columns: repeat(auto-fit, minmax(14.9rem, $max)) !important;
  }
}

@media screen and (min-width: 783px) and (max-width: 947px) {
  @include media_grid(0.33fr);
}

@media screen and (min-width: 618px) and (max-width: 782px) {
  @include media_grid(0.5fr);
}

@media screen and (max-width: 617px) {
  @include media_grid(1fr);
}
