.side-bar-wrap {
  ul {
    .navigation_item {
      a {
        height: 3.2rem;
        display: flex;
        align-items: center;
        margin-bottom: 0.4rem;
        padding: 0.6rem 0.8rem;
        font-size: 1.4rem;
        font-weight: 700;
        text-decoration: none;
        border-radius: 0.3rem;
        cursor: pointer;
        transition: all 0.1s;

        svg {
          margin-top: 0.2rem;
          color: var(--gray-blue);
        }

        span {
          text-indent: 0.4rem;
          color: var(--dark-blue);
        }
      }

      a:active,
      a.active {
        background-color: #e4f0f6;

        span {
          color: #0079bf;
        }

        svg {
          color: #0079bf;
        }

        &:hover {
          svg {
            color: #0079bf;
          }
        }
      }

      a:hover {
        background-color: #e7e9ed;

        svg {
          color: #3b4962;
        }
      }
    }
  }
}
