.board_item {
  position: relative;
  cursor: pointer;
  border-radius: 0.3rem;
  overflow: hidden;

  .board_item_inner {
    display: flex;
    height: 9.6rem;
    padding: 0.8rem;
    position: relative;
    flex-direction: column;
    justify-content: space-between;

    .item_title {
      color: #ffffff;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 2rem;
      position: relative;
      z-index: 5;
      text-decoration: none;
      word-break: break-all;
    }
  }

  .board_hover_action {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s;
    background-color: rgba(0, 0, 0, 0.3);

    svg {
      font-size: 1.6rem;
      color: #ffffff;
      position: absolute;
      bottom: 0.6rem;
      right: -1.4rem;
      transition: all 0.1s;
    }
  }

  &:hover,
  & > a:focus {
    .board_hover_action {
      opacity: 1;

      svg {
        bottom: 0.6rem;
        right: 0.6rem;
      }
    }
  }
}
