.board-item-section {
  display: flex;
  flex-wrap: wrap;

  .board-item {
    position: relative;
    width: 23%;
    margin: 0 2% 8px 0;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;

    .board-item-inner {
      display: flex;
      height: 96px;
      padding: 8px;
      position: relative;
      flex-direction: column;
      justify-content: space-between;

      &.create {
        justify-content: center;
        align-items: center;
      }

      .item-title {
        color: #ffffff;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        position: relative;
        z-index: 5;
        text-decoration: none;
      }

      .create-item-title {
        font-size: 14px;
        color: #506486;
      }
    }

    .create-hover-action {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.2s;
      background-color: rgba(159, 178, 194, 0.1);
    }

    .board-hover-action {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.2s;
      background-color: rgba(0, 0, 0, 0.3);

      svg {
        color: #ffffff;
        position: absolute;
        bottom: 6px;
        right: -14px;
        transition: all 0.1s;
      }
    }

    &:hover {
      .create-hover-action {
        opacity: 1;
      }
      .board-hover-action {
        opacity: 1;

        svg {
          bottom: 6px;
          right: 6px;
        }
      }
    }
  }
}
