.board_item {
  position: relative;
  width: 23%;
  margin: 0 2% 8px 0;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;

  .board_item_inner {
    display: flex;
    height: 96px;
    padding: 8px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;

    .item_title {
      color: #ffffff;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      position: relative;
      z-index: 5;
      text-decoration: none;
      word-break: break-all;
    }
  }

  .board_hover_action {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s;
    background-color: rgba(0, 0, 0, 0.3);

    svg {
      color: #ffffff;
      position: absolute;
      bottom: 6px;
      right: -14px;
      transition: all 0.1s;
    }
  }

  &:hover {
    .board_hover_action {
      opacity: 1;

      svg {
        bottom: 6px;
        right: 6px;
      }
    }
  }
}
